<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Display</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/231fbd9d95.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/currentChat.css">
</head>

<body>
  <div class="header">
    <a class="btn btn-outline-primary" style="position: absolute; margin-top: 10px; left: 50px;" href="/" role="button"><i class="fas fa-home"></i> Home</a>
    <a class="btn btn-outline-primary" style="position: absolute; right: 20px; margin-top: 10px;" href="/logout" role="button"><i class="fas fa-sign-out-alt"></i> Log out</a>
    <a class="btn btn-outline-primary" style="position: absolute; right: 130px; margin-top: 10px;" href="/create" role="button"><i class="fas fa-plus-circle"></i> Create</a>
    <a class="btn btn-outline-primary" style="position: absolute; right: 230px; margin-top: 10px;" href="/user" role="button"><i class="fas fa-user"></i> Profile</a>
    <a class="btn btn-outline-primary" style="position: absolute; right: 330px; margin-top: 10px;" href="/chats" role="button"><i class="fas fa-comments"></i> Chats</a>
  </div>

  <h1 class="chat-title">Jerry</h1>
  <div class="display-chat-block">
    <div class="chat-block" id="chat-0" style="display:none">
      <p class="id" style="display: none;">0</p>
      <p class="chat-time">placeholder</p>
      <p class="chat-username">placeholder</p>
      <p class="chat-content">placeholder</p>
    </div>
    <% chats.forEach(function(chat) { %>
      <div class="chat-block" id="chat-<%= chat.id %>">
        <p class="id" style="display: none;"><%= chat.id %></p>
        <p class="chat-time"><%= chat.time %></p>
        <p class="chat-username"><%= chat.sender %></p>
        <p class="chat-content"><%= chat.content %></p>
      </div>
    <% }) %>

    <%# <div class="chat-block" id="chat-2">
      <p class="id" style="display: none;">no1</p>
      <p class="chat-time">2020-12-12 10:10</p>
      <p class="chat-username" style="text-align: right;">You</p>
      <p class="chat-content" style="background-color: #bce6eb;">Hello Hello Hello</p>
    </div> %>
  </div>
  <div class="chat-input-block">
    <textarea oninput="auto_grow(this)" class="form-control input-text" placeholder="Type something here." maxlength="200"></textarea>
    <a class="btn btn-outline-primary" id="send-btn" role="button"><i class="far fa-paper-plane"></i> Send</a>
  </div>

  <div class="" style="height: 80px; width: 100%">

  </div>
  <footer>
    <p>Copyright ⓒ 2020</p>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/currentChat.js"></script>
  <script type="text/javascript">
    function auto_grow(element) {
      element.style.height = "60px";
      element.style.height = (element.scrollHeight) + "px";
    }
  </script>
</body>

</html>
