<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= item.item_name %></title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="css/item.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>

<body>
  <h1>This is the item page.</h1>
  <p>Item Name: <%= item.item_name %></p>
  <hr>
  <img src="<%= item.main_image_url %>" alt="">
  <p><%= item.item_name %></p>
  <p><%= item.post_time %></p>
  <p><%= item.user_name %></p>
  <p><%= item.status %></p>
  <p><%= item.num_visits %></p>
  <p><%= item.price %></p>

  <hr>

  <p><%= item.description %></p>


  <% item.img_urls.forEach(function(url) { %>
  <img src="<%= url %>" alt="">
  <% }) %>

  <hr>

  <% item.messages.forEach(function(msg) { %>
  <p><%= msg.content %></p>
  <p><%= msg.user_name %></p>
  <p><%= msg.post_time %></p>
  <% }) %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
